<div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <h1 id="about-heading"><%= t('.title') %></h1>
    </div>
  </div>
  <div class="jumbotron-fluid img-fluid mt-3 mb-4">
    <%= image_tag('tequila-glass.jpg', height: '100', width: '100', class: 'w-100 img-fluid') %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        <%= t('.idea') %>
      </p>
    </div>
  </div>
</div>
