<div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <h1 id="about-heading">Contact</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="contact-details">
        <p>
          <strong>Address:</strong> Buchengasse 63/4, A-1100 Wien
        </p>

        <p>
          <strong>Email:</strong> alcohome.vienna@gmail.com
        </p>

        <p>
          <strong>Phone:</strong> +43 660 83 79 626
        </p>
      </div>

      <div class="contact-map mt-5 mb-5">
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZeUD9MOpbUcRd9HpfC-nkBI&key=AIzaSyDJ0oEUnTMT5ggVMwx9AqnGE4wtY8UmUTs" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
