<% content_for :title, t('.title') %>

<div class="container">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <h1 class="page-title"><%= t('.title') %></h1>
    </div>
  </div>

  <%= render partial: "shared/horizontal_line", locals: { width: 90 } %>

  <div class="row">
    <div class="col-md-12">
      <p>
        <h2>1. Geltungsbereich</h2>
        Diese Allgemeinen Geschäftsbedingungen (im Folgenden “AGB”) gelten grundsätzlich für sämtliche Rechtsgeschäfte mit Unternehmern, sofern die Vertragspartner nicht ausdrücklich und schriftlich Abweichendes vereinbaren. 
        Sollten diese AGB ausnahmsweise auch Rechtsgeschäfte mit Verbrauchern zugrunde gelegt werden, gelten sie nur, soweit nicht zwingende gesetzliche Bestimmungen für Verbraucher den Bestimmungen der AGB entgegenstehen. Einkaufsbedingungen des Kunden kommen nur dann zur Anwendung, wenn sie im einzelnen Geschäftsfall von AlcoHome schriftlich anerkannt wurden. Fehlender Widerspruch bedeutet in keinem Fall Anerkennung.
        Hat der Kunde mit AlcoHome darüber hinausgehende schriftliche Verträge abgeschlossen (z.B. Getränkebezugsverträge), so wird ausdrücklich vereinbart, dass diese AGB nur soweit gelten, also sie nicht mit dem Vertragsinhalt in Widerspruch stehen.
      </p>

      <p>
        <h2>2. Angebote, Zusagen</h2>
        Angebote von AlcoHome sind nur dann verbindlich, wenn sie ausdrücklich als verbindliche Angebote in schriftlicher Form abgegeben werden. Mündliche Angebote bzw. mündliche Zusagen von AlcoHome Mitarbeitern sind nur dann wirksam, wenn sie von AlcoHome schriftlich bestätigt werden.
      </p>

      <p>
        <h2>3. Gebinde, Pfand</h2>
        Gebinde wird nur leihweise gegen Leistung eines Pfandeinsatzes dem Kunden zur Verfügung gestellt, es bleibt im Eigentum des jeweiligen Produzenten und ist schnellstmöglich in einwandfreiem Zustand an AlcoHome zu retournieren. Für schadhaftes Gebinde wird der Wiederbeschaffungswert in Rechnung gestellt. Bei Rückgabe von einwandfreiem Gebinde werden die Pfandsätze (siehe Preisliste) vergütet. Gebinde darf ausschliesslich zum Zweck des Transports und der Lagerung der von AlcoHome gekauften Ware verwendet werden.
      </p>

      <p>
        <h2>4. Eigentumsvorbehalt</h2>
        Gelieferte bzw. übergebene Ware bleibt bis zur vollständigen Bezahlung im Eigentum von AlcoHome. Zugriffe Dritter auf die Ware, insbesondere Pfändungen sind AlcoHome unverzüglich zu melden und ihr sämtliche zur Durchsetzung des Eigentumsrechts erforderlichen Informationen zu erteilen. 
        Bei Einstellung der Zahlungen oder Eröffnung eines  Insolvenzverfahren über das Vermögen des Kunden bzw. Abweisung eines Antrag auf Konkurseröffnung mangels kostendeckenden Vermögens, endet die Befugnis des Kunden, die im Eigentum von AlcoHome stehende Ware zu veräussern.
      </p>

      <p>
        <h2>5. Bestellungen</h2>
        Bestellungen werden telefonisch sowie in schriftlicher bzw. elektronischer Form entgegengenommen. Spätestens mit seiner Bestellung anerkennt der Kunde die Gültigkeit dieser AGB.
      </p>

      <p>
        <h2>6. Preise und Rabatte</h2>
        Sämtliche Preisangaben verstehen sich exklusive aller Steuern und allfälligem Gebindepfand. Rabattangaben in Prozent beziehen sich jeweils auf Listenpreise exklusive aller Steuern und Gebindepfand.
      </p>

      <p>
        <h2>7. Lieferungen und Zahlungsbedingungen</h2>
        Zahlungen haben, wenn nicht anderes ausdrücklich vereinbart wird, binnen 2 Wochen, nach erhalt der Rechnung, durch Banküberweisung erfolgen. AlcoHome behält sich bei vereinbartem Zahlungsziel jedoch das Recht vor, die Lieferung nur gegen Barzahlung vorzunehmen, wenn durch den Kunden Forderungen nicht pünktlich bezahlt werden, Bankeinzüge nicht eingelöst werden, oder sich die Bonität des Kunden verschlechtert. Bei Lieferung gegen Barzahlung ist die Rechnung gleichzeitig der Lieferschein. 
        Der Kunde ist nicht berechtigt, Zahlungen wegen nicht vollständiger Lieferung oder Gewährleistungsansprüche zurückzuhalten. Aufrechnung von Forderungen von AlcoHome mit behaupteten Gegenforderungen des Kunden ist nicht gestattet, es sei denn die Gegenforderung ist gerichtlich festgestellt oder von AlcoHome schriftlich anerkannt. 
        AlcoHome ist berechtigt, mit den Kunden vereinbarte Rabatte einzubehalten und mit nicht bezahlten Forderungen gegen den Kunden aufzurechnen. AlcoHome ist weiters berechtigt Zahlungen durch den Kunden bzw. einbehaltene Rabatte zuerst offenen Mahnspesen, dann offenen Zinsen und sodann den offenen Kapitalbeträgen, beginnend mit der jeweils ältesten Schuld anzurechnen.
        AlcoHome wird vereinbarte Liefertermine soweit als möglich einhalten. Aus einer Überschreitung angekündigter Liefertermine stehen dem Kunden weder Schadenersatz-, Gewährleistungs- noch sonstige Ansprüche zu, es sei denn, es wäre im Einzelfall ausnahmsweise ausdrücklich und in schriftlicher Form ein Fixgeschäft vereinbart worden.
      </p>

      <p>
        <h2>8. Zahlungsverzug, Verzugszinsen und Mahnspesen</h2>
        Selbst bei unverschuldetem Zahlungsverzug ist AlcoHome berechtigt, Verzugszinsen von 12% p.a. zu verrechnen. Die Verrechnung von geringeren Verzugszinsen begründet kein Abgehen von dem Anspruch auf die Verrechnung von 12% Verzugszinsen. Für Mahnungen werden von AlcoHome für jede Mahnung 3,00 Euro an Mahnspesen verrechnet.
      </p>

      <p>
        <h2>9. Teilzahlungen und Ratenzahlungen</h2>
        Werden Teil- oder Ratenzahlungen mit dem Kunden vereinbart, tritt Terminverlust bei nicht termingerechter Bezahlung von auch nur einem Teil einer Ratte ein, sodass sämtliche Forderungen einschliesslich der vorgenannten Verzugszinsen zur sofortigen Bezahlung fällig werden. Bei der Vereinbarung von Teil- und Ratenzahlungen erklärt der Kunde, unwiderruflich auf den Einwand der Verjährung der Forderungen zu verzichten.
      </p>

      <p>
        <h2>10. Gewährleistung und Haftung</h2>
        Der Kunde erhält bei der Lieferung einen Lieferschein, auf dem er den mängelfreien Erhalt der Lieferung schriftlich bestätigt. Sichtbare Mängel und Fehlbestände sind durch den Kunden bei Lieferung auf den Lieferschein zu vermerken. Verdeckte Mängel sind unverzüglich, spätestens aber innerhalb von 3 Tagen nach Entdeckung schriftlich zu rügen. Wird eine Mängelrüge nicht oder nicht rechtzeitig erhoben, so gilt die Ware als genehmigt. Die Geltendmachung von Gewährleistungs- oder Schadenersatzansprüche, sowie das Recht auf Irrtumsanfechtung aufgrund von Mängeln sind in diesem Fällen ausgeschlossen. Die Gewährleistungsfrist beträgt 3 Monate. Der Kunde hat stets zu beweisen, dass der Mangel zum Zeitpunkt der übernähme vorhanden war.
        AlcoHome behält sich das Recht vor, einen berechtigten Gewährleistungsanspruch nach ihrer Wahl durch Verbesserung, Austausch oder Preisminderung zu erfüllen. Schadenersatzansprüche sind in Fällen leichter Fahrlässigkeit, ausser für Personenschäden, ausgeschlossen. Das Vorliegen grober Fahrlässigkeit bzw. Vorsatz hat der Geschädigte zu beweisen. Die Haftung von AlcoHome ist der höhe nach auf den Preis der Ware aus der Lieferung beschränkt. Ersatzansprüche verjähren in 12 Monaten ab Kenntnis von Schaden und Schädiger. Die Haftung für Folgeschäden wird ausgeschlossen.
      </p>

      <p>
        <h2>11. Erfüllungsort, geltendes Recht und Gerichtstand</h2>
        Erfüllungsort ist der Sitz der AlcoHome KG. 
        Sollten eine oder mehrere Bestimmungen dieser AGB aus welchem Grund auch immer ungültig oder unwirksam sein, so berührt dies nicht die Gültigkeit und Wirksamkeit der übrigen Bestimmungen. 
        Es gilt österreichisches Recht, ausschliesslicher Gerichtsstand ist das jeweils sachlich zuständige Gericht in Wien.

        Stand: 1 März 2018
      </p>
    </div>
  </div>
</div>
