<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you over 18?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmAge()">Yes</button>
        <a href="http://disney.de/" class="btn btn-default">No</a>
      </div>
    </div>
  </div>
</div>
