<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body p-4">
        <h2 class="text-center">Willkommen!</h2>
        <p class="font-weight-bold">Jugendschutz und Pr채vention liegen uns am Herzen.</p>
        <p>Bist du 체ber 18 und berechtigt Alkohol zu kaufen? Dann best채tige bitte dein Alter!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmAge()">Ja, ich bin 체ber 18</button>
        <a href="http://disney.de/" class="btn btn-default">Verlassen</a>
      </div>
    </div>
  </div>
</div>
