<div class="row text-center">
  <div class="col-md-12">
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px; height:1px; background-color: #4F7479;">
  </div>
</div>
