<!-- <div class="row pt-3 pb-3">
  <%= image_tag('alcohome-logo.jpg', height: '100', width: '100', class: 'mx-auto') %>
</div> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <%= link_to image_tag('alcohome-logo.jpg', height: '70', width: '70'), root_path, class: 'navbar-brand' %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% Category.all.each do |category| %>
        <li class="nav-item">
          <%= link_to "#{category.name}", category_path(category), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
