<div class="nav-desktop">
  <%= render partial: 'shared/nav_desktop' %>
</div>

<div class="nav-mobile">
  <%= render partial: 'shared/nav_mobile' %>
</div>

<script type="text/javascript">
    /* Open the sidenav */
  function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
  }

  /* Close/hide the sidenav */
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
  }
</script>
