<% content_for :title, @category.name %>

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-12 text-center pb-3">
		<h1><strong><%= @category.name %></strong></h1>
	</div>
</div>

<div class="row">
  <% @category.products.each do |product| %>
    <%= render partial: "products/product", locals: { product: product } %>
  <% end %>
</div>
