<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row mt-5">

		<div class="col-md-6 text-right">
			<%= image_tag('vodka_grey_goose.jpg', class: 'img-fluid rounded') %>
		</div>

		<div class="col-md-6 mr-auto" style="max-width: 30rem;">
			<div class="card">
				<div class="card-header text-center"><%= @product.name %></div>
				<div class="card-body">
					<h5 class="card-title text-right"><%= @product.price %> EUR</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

				</div>
			</div>
		</div>
	</div>
</div>
